spring:
  datasource:
    url: jdbc:postgresql://localhost:5436/eValeBike
    username: user
    password: password
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true  # Show SQL queries in the console for debugging.
